<div class="img-responsive" style="width:100%">
    <div class="thumbnail" style="width:100%">



        <form class="form-inline" action="" method="POST" style="border: 15px">

            <div id="legend">
                <legend class="">Sign In</legend>
            </div>
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="username" class="form-control input-lg" style="display: table-column; width:100%;">

                </div>
            </div>



            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="Passwaord" class="form-control input-lg" style="display: table-column; width:100%;">

                </div>
            </div>

            <br><br>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success"><a href="dashboard" ng-click="navCollapsed = !navCollapsed">Sign in</a></button>
                </div>
            </div>

        </form>


    </div>

</div>