<!DOCTYPE html>
<html ng-app="CysticFibrosis">

<head>
    <title>Nutrition Control</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .carousel-inner>.item>img,
        .carousel-inner>.item>a>img {
            width: 15%;
            margin: auto;
        }
    </style>



</head>

<body>

    <div class="container">

        <form>
            <h1>Nutrition Control</h1>
            <h3>Cystic Fibrosis</h3>
            <h4>Cystic fibrosis (CF) has long been associated with malnutrition. However, due to early diagnosis, nutritional supplements, and increased prevalence of obesity in the general population, overweight, and obesity in the CF patient population
                is becoming a concern. Nutrition Controller address the adverse outcomes of overweight and obesity by advising on balancing diet.</h4><br>


















            <div class="form-group">

                <label for="text">Enter your weight:</label>
                <input type="text" ng-model="weight" placeholder="Weight in (lbs)" class="form-control" id="text">
            </div>
            <div class="form-group">
                <label for="text">Enter your height:</label>
                <input type="text" ng-model="height" placeholder="Height in (inches)" class="form-control" id="pwd">
            </div>


        </form>




        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <h3>Nutrition Analysis Report</h3>
                </h3>
            </div>
            <div class="panel-body">

                <h4><span class="" ng-show="weight && height">Based on your weight, {{ weight }} pounds, and height {{ height }} inches, your BODY MASS INDEX (BMI) is: <span class="result">{{ calcBMI() | number:2 }}</span>, which is considered as
                    <span class="advice"> {{ BMIhealth() }} </span></h4>

            </div>
        </div>



















    </div>

</body>




</html>